docs/** linguist-vendored
scripts/** linguist-vendored
*.sops.* diff=sopsdiffer
* text=auto eol=lf
*.md -linguist-detectable
*.css -linguist-detectable
*.env -linguist-detectable
*.sh -linguist-detectable
*.conf -linguist-detectable
*.json -linguist-detectable
*.json5 -linguist-detectable
*.toml -linguist-detectable
*.py -linguist-detectable
*.go -linguist-detectable
*.yml -linguist-detectable
*.yaml -linguist-detectable
*.yaml.j2 -linguist-detectable
*.nix linguist-detectable linguist-language=NIX
justfile linguist-detectable linguist-language=JUST
.justfile linguist-detectable linguist-language=JUST
*.just linguist-detectable linguist-language=JUST
